.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home page css */
.box{
  display: flex;
  position: absolute;
  left: 40%;
  top: 25%;
}
.input_box{
  width: 40%;
  background-color: white;
  color: black;
  border: none;
  height: 30px;
  box-shadow: 0px 0px 2px 5px black;
  margin-left:3px;
}
.boxes{
  text-decoration: none;
  border: 2px solid black;
  width: 50%;
  height: 30px;
  
  
}
.sign{
  height: 15%;
  color: black;
}

